[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agora-token-builder = "*"
django = "*"
django-environ = "*"
python-webpack-boilerplate = "*"

[dev-packages]

[requires]
python_version = "3.11"
