{% extends 'base/main.html' %}
{% load webpack_loader static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
        </div>
    </section>
</main>

{{ AGORA_APP_ID|json_script:"agora-app-id" }}";

{% endblock content %}

{% block bottom_scripts %}
    {{ block.super }}
    <script src="{% static 'vendors/js/AgoraRTC_N-4.8.0.js' %}"></script>
    <script src="{% static 'vendors/js/streams.js' %}"></script>
{% endblock bottom_scripts %}